
$secondary: #cccccc;
$warning: #e8c400;
$light: #faf9f4;
@import "node_modules/bootstrap/scss/bootstrap";

.recomended {
    border-bottom-left-radius: 10px 10px;
}

.h-27{
    height: 27rem;
}

.w-17{
    width: 17rem;
}

.border-round-bold{
    border: 3px solid $warning;
    border-radius: 50%;
    font-weight: 700;
    color: $warning
}

.main {
    border:none;
}

.border-when-padding {
    border-radius:1rem;
}

.shadow {
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
}

.w-12 {
    width: 12rem;
}

.book {
    background-color: $light;
}

@media (min-width: 576px) { 
    .book {
        flex-basis: calc(100% - 46rem);
        background-color: $light;
    }
}

.title {
    margin:0px;
    font-weight: 700 ;
}
.author {
    padding-bottom: 0.5rem;
}